<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
	</head>
	<body style="background-color:#708090">
		<div class="container">
			<div class="row mt-4">
				<div class="col-12 text-center">
					<div>
						<div class="row mb-4">
				
							<div class="col-sm-6" style>
								<textarea
									rows="20"
									cols="60"
									placeholder="Enter Text"
									name="textarea"
								>
							</textarea>

								<form method="post" action="{{ url_for('tasks') }}">
									<input type="submit" value="Start" class="btn btn-success" name="start"/>
									<input type="submit" value="Stop" class="btn btn-danger" name="stop"/>
									<input type="submit" value="Save" class="btn btn-primary" name ="save" />
								</form>	
							</div>

							<div class="col-sm-6" style>
								<div>
									<img src="{{ url_for('video') }}" height="20%", id="myDIV">
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"
		></script>
	</body>
</html>
